<h3 class="display-4">Registieren</h3>


<input
  class="form-control"
  type="text"
  [(ngModel)]="jnjnnjnlnnnn"
  placeholder="Benutzer"
/><br />
<input
  class="form-control"
  type="number"
  [(ngModel)]="njknkkjjknjknjk"
  placeholder="password"
/><br />
<span (click)="save()">


  <div *ngIf="ausgefuellt == false" class="alert alert-danger" role="alert">
  Bitte alle Felder ausfüllen!
</div>
<button class="btn btn-primary btn-block">
  <span class="material-icons">
    save
  </span>
</button>
</span>